{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="container">
        <h4 style="float: left;">Hello, {{ username }}!</h4>
        <div style="color: #4cae4c; float: right;"><b>
        {%for name,value in exchangeRates %}
        1 {{name}} = {{value}} RUB<br>
        {% endfor %}
        </b></div>
    </div>
    {% block menu %}
    <nav class="menu-main">
    <ul id="navigation">
        {% for page,name in menubar %}
        <li><a href="lk.php?active={{page}}" {% if name == pageTitle %} class="current" {% endif %} >{{name}}</a></li>
        {% endfor %}
    </ul>
    </nav>
    {% endblock %}
    {% block main %}{% endblock %}
</div>
{% endblock %}